@charset "utf-8";

#afui.my #header .top_header,#top_tab_ul li.select,.toTopIcon,.small.on, .mid.on, .large.on,.btnsubmit{background: #6ebebe;}
.setOptLeft{border-left: 3px solid #6dbfbb;}
#afui.my .cate_top_ul{border: 1px solid #6ebebe;}
