@charset "utf-8";

.articleTitle h2{font-size: 18px!important;}
.articleTitle p{font-size: 14px!important;}
#p_content,#contentDIV p,.img_descr{font-size: 16px!important;}
#punlin p{font-size: 15px!important;}





